

.container{
    height: 150px;
    width: 200px;
text-align: center;
    justify-content: center;
    margin:100px;
    margin-left:500px;
    padding-bottom: 20px; 
    margin-top: 0;   
}
.inputbar{
    height: 100%;
    padding:0, auto;
    padding-top: 70px;
    text-align: center;
    justify-content: center;
}
.body{
    padding-bottom: 70px;
    margin-top: 0;
}
#input {
    height: 100%;
    margin-top: 20px;
    background-color: aquamarine;
    border-radius: 20px;
}
.body table td tr {
    padding-bottom: 60px;
    border: solid 1px black;
}
*{
     box-sizing: border-box;
     margin: 0;
     padding:0;
    }
    .container input {
        width: 100%;
        padding: 8px;
        border: none;
        outline: none;
        text-align: right;
        
      }
      .body table {
        height: 100%;
        width: 100%;
        padding-bottom: 20px;
    }   
    table td {
        background-color: gray;
        text-align: center;
        padding: 8px;
        cursor: pointer;
        margin-bottom: 20px;
        border: solid 2px black;
        border-radius: 10px;

    }   
    h1{
        text-align: center;
        margin:0;
        padding-top:50px ;
    }